.button{
    border: none;
    margin: 1rem auto;
    display: block;
    width: calc(100% - 20%);
    border-radius: .3rem;

}

.button_link {
   
    background-color: #2ea742;
    display: block;
    border-radius: .3rem;
    color:rgb(60, 60, 60);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.1rem;
    letter-spacing: .09rem;

}



.button_link:hover  {
    background-color:#36d550;
    color: white;
}