#section-details {
    display: flex;
    justify-content: center;
   
    gap: 3.2rem;
}

#section-details  #img-details {
    width: 250px;
    height: 300px;
}
#section-details  h3{
    color: black;
}
/* #section-details  button{

} */

@media screen and (max-width:500px) {
    #section-details {
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem;
    }
}