.join-search{
    width: 100%;
    max-width: 100%;
   

    display: flex;
    justify-content: end;
}

.label-search{
    display: flex;
} 

.input-search{
    width: calc(100% - 20%);
    border-radius: 1rem;
    padding: .5rem;
    background-color: #065ba5;

}
