.loading-div {
  display: flex;
  justify-content: center;
}

.loading {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-flex {
  display: flex;
  flex-direction: column;
}
.wrapper {
  /* min-height: calc(100vh - 50px); */
  /* position: relative; */
  min-height: 100vh;
  margin: 1rem 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.container_max_width {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}
