@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  font-size: 62.5%;

  /*Home / Card*/
  --color-text: #111111;
  --color-purple: #6a0dad;
  /*SEARCH */
  --color-bg-search: #1e1e1e;
  --color-border-search: #6a0dad;
  --color-border-search-focus: #8a2be2;
  --color-text-search: #fff;
  --color-text-search-type: #b3b3b3;

  /*NAV*/
  --color-text-nav: #f7f7f7;
  /* --color-bg-nav-light: rgb(31, 31, 31);
  --color-bg-nav-dark: rgb(26, 26, 26); */
  --color-bg-nav-light: #6a0dad;
  --color-bg-nav-dark: #6a0dad;
  --color-bg-nav-hover: #8a2be2;
  --color-hr-nav: #8a2be2;
  --color-icon-user: #881ded;

  /*HOME*/
  --color-bg-shadow-home: #000000;
  --color-bg-home: #1675c2;
  --color-bg-homeDark: #0e388a;

  /*CARD*/
  --color-bg-card: #212121;
  --color-text-card: #fff;
  --color-bg-shadow-card: #000000;

  /*Página Produtos*/
  --color-bg-product: #212121;

  /*FOOTER*/
  --color-bg-footer: rgb(26, 26, 26);

  /*purple*/
  --color-purple: rgb(139, 30, 222);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background: #1c1c1c;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
}

main {
  height: 100vh;
}
