.header-nav {
  /* background-image: url("/public/assets/img/Home/background-nav.jpg"); */
  background-color: var(--color-bg-nav);
  box-shadow: 0 0.5px 2px var(--color-bg-shadow-home);
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
}

.nav-primary {
  margin: auto auto;
}

.nav-ul {
  width: 1280px;
  display: flex;
  gap: 3rem;
  list-style: none;
  text-transform: uppercase;
  font-weight: 200;
  align-items: center;
}

.nav-li {
  border-bottom: 1px solid transparent;
  text-align: center;
  display: none;
}

.nav-li:hover {
  color: antiquewhite;
  border-radius: 10px;
}

.header-nav a {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: var(--color-text-nav);
  text-decoration: none;
}
.hamburger-div {
  width: 100%;
  width: 1280px;
  display: flex;
  justify-content: start;
  margin: auto;
}
.hr-nav {
  border: none;
  height: 2px;
  background-color: var(--color-hr-nav);
  margin: 8px auto;
  max-width: 500px;
}
.list-open {
  display: flex;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  background-color: rgb(239, 247, 255);
}
.list-open li {
  padding: 10px;
  border-width: 1px;
  border-color: black;
  border-left: 1px;
}
.list-open li a {
  color: black;
}

.list-open li:hover {
  background-color: rgb(176, 207, 253);
}

@media screen and (min-width: 768px) {
  .nav-li {
    display: flex;
  }

  .nav-li svg {
    position: relative;
    top: 3px;
    color: snow;
  }
}
