.mainBanner {
  max-width: var(--max-width);
  max-height: 45rem;
  height: 100%;
  margin: calc(100% - 99%) auto;
  display: block;

  overflow: hidden;
  border-radius: 1rem 2rem 1rem 2rem;
}
.mainBanner > img {
  width: 100%;
  max-width: var(--max-width);
  max-height: 45rem;
}

@media (min-aspect-ratio: 16/9) {
  .mainBanner > img {
    height: 100%;
    position: relative;
  }
}
